@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background: url('/Image/clover.jpg');
    background-size: cover;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.getting-started {
    z-index: 1;
  }
.getting-started h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 400;
    color: rgb(255, 255, 255);

    position: fixed;
    top: 5vh;
    left: 5vw;
    z-index: 1;
    display: block;
}
.home-title #h1{
    font-family: 'Playfair Display', serif;
    font-size: 96px;
    font-weight: 400;
    color: rgb(255, 255, 255);

    text-align: center;
    z-index: 1;
    position: relative;
    top: -10vh;
    display: block;
}
.home-title #h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgb(255, 255, 255);

    text-align: center;
    z-index: 1;
    position: relative;
    top: -14vh;
    display: block;

}

.begin-journey {
    text-align: center;
    position: relative;
    top: -8vh;
}

.begin-journey-link {
  position: relative;

  font-weight: 700;
  font-size: 24px; 
  line-height: 29px;
  letter-spacing: 0.035em;
  color: white;

  text-decoration: none;
  text-decoration-line: overline;
}
.begin-journey-link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 1s;
}
.begin-journey-link:hover {
  cursor: pointer;
}
.begin-journey-link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.footer {
  position: fixed;
  z-index: 1;

  color: white;
}
.follow-list {
  position: fixed;

  top: 91vh;
  left: 4.7vw;

  list-style: none;
  padding: 0;
  margin: 0 0 10px;
  z-index: 2;

  display: block;
}

.follow-list a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: white;

  text-decoration: none;
}

.audio {
  position: fixed;
  top: 90vh;
  left: 93vw;
  z-index: 200;
  
  font-size: 26px;

  display: block;
} 

 


