  * {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    background-color: #fdfdfd;
  }
  .logo-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
  
    position: absolute;
    width: 194.16px;
    height: 38px;
    left: 53px;
    top: 30px;
  }
  .login {
    width: 320px;
    height: 450px;

    background-color: #ffffff;;
    background-size: cover;
    margin: 200px auto;
    border-radius: 20px;
    
  }
  .login .form {
    width: 100%;
    height: 100%;
  
  }
  .login .form h2 {
    color: #000000;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-top: -60px;
    margin-bottom: 80px;
  }
  .sign-up {
    color: #b5b5b5;
  
    text-align: center;
    margin-top: -60px;
    margin-bottom: 30px;
  }
  .sign-up span a {
    text-decoration: none;
    color: #FF7A31;
  }
  .sign-up span a:hover {
    color: #ffba95;
    transition: 0.4s;
  }
  
  .login .form input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #777777;
    padding: 0 18px;
    color: #000000;
    border-radius: 6px;
    font-size: 14px;
  }
  .login .form a input {
    font-size: 12px;
    border-radius: 30px;
    height: 55px;
  
    cursor: pointer;
  }
  .login .form a input:hover {
    background-color: #FF7A31; 
    transition: 0.7s;
  }
  .login .form input:focus {
    border: 1px solid #FF7A31;
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: #464646;
  }
  .login .form input.submit {
    background: #777777;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
  }
  .accept {
    text-align: center;
    font-size: 13px;
    color: #b5b5b5;

    margin-top: 20px;
    margin-bottom: -10px
  }
  .accept span a {
    text-decoration: none;
    color: #FF7A31;
  }
  .accept span a:hover {
    color: #ffba95;
    transition: 0.4s;
  }
  
  .footer {
    width: 100%;
    height: 0.1px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 850px;
  }
  .footer-text {
    text-align: center;
  }
  .footer-text .right-reserved {
    font-style: bold;
    font-weight: 600;
    font-size: 14px;
  
    color: #aaabb3;
  }
  .footer-text .policy a {
    font-size: 14px;
    text-decoration: none;
  
    color: #aaabb3;
  
    justify-content: center;
    align-items: center;
    padding: 20px;
  }